/* CSS declarations go here!!!!! */
// stylus: http://stylus-lang.com/


body
    font-family 'Karla'
    margin 2 em

h1
    font-family 'Fredoka One'

input[type=text]
    min-width 30em
    border 2px solid #29b0d3
    border-radius 4px

.debugging
    display none

.audiocontainer
    /*background-color #000000*/
    margin-left -20px

.playbutton
    width 75px
    display inline-block

.playbutton:focus
    outline none

.navpic
    height 80px

.logo
    width 200px
    margin-right 2em !important

.vcenter-align
    vertical-align middle
    margin-left 0px

.navbutton
    width 100px !important
    box-shadow none !important
    border none !important
    background none !important
    margin-right 2em !important

.accounts-dialog label
    display block

.helper
  display inline-block
  height 100%
  vertical-align middle

#navbar
    white-space nowrap
    border none !important
    box-shadow none !important
    margin-top -14px
    margin-left -14px

#main-content
    padding 0

#login-dropdown-list
    top 50px !important
    left -150px !important

#cat
    position absolute
    top 0
    left 0

a
  color #76706f
a:hover
    color #29b0d3
a.mewsages:hover
    color #e18d44
a.dress:hover
    color #5ed37c

.navbar-login
    position absolute
    right 45px
    top 25px
.chat-text
	margin-left -2%
.bg-im
    position relative
    top 0
    left 0
.lock-im
    position relative
    top 0
    left 0
    max-width 250px
.lock
    position absolute
    top 20px
    left 100px
    max-width 50px
.cost
    position absolute
    top 110px
    left 70px
    font-size 2em
.trash
	position absolute
	left 850px
	display none
.trash-visible
	display block
.locked-container, .mewsician-canvas
    display inline-block
    position relative
.purchase
	max-width 97.5% !important

.thumbnail
    max-width 250px

.login
    font-size 2em
    padding 2em

.content
    max-width 800px

.mname
    background none  !important
    font-size 1em !important
    margin-right -5px !important
.decoration
    z-index -1 !important
.left
    text-align left !important

.right
    top 1.5em
    right 0px
    position absolute
.fish
    font-size 2em
    padding-left 4px
    color #716c66

.rad > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.ui.menu .item:before
    width 0px
.rad > input + img
  cursor pointer

.small-modal
    width 400px !important
    margin -200px 0em 0em -200px !important

.out-icon 
	margin-left 42px

.in-message-container
    width 100%
    float left
    clear left

.out-message-container
    float right
    clear right   

.message > input
    width 100%
    margin 20px 0px 20px 0px
    padding 5px 0px 5px 0px

.in-message
.out-message
    width 430px
    display block
    border-radius 5px
    margin-top 0.2em
    padding 10px

.in-message
    background #E9E9E9

.out-message
    background #57bad6
    color white

.out-message > a
    color #fbd991
.in-message > a
    color #29b0d3

