/* CSS declarations go here!!!!! */
// stylus: http://stylus-lang.com/


body
    font-family 'Karla'
    margin 2 em

h1
	font-family 'Fredoka One'

.debugging
	display none

.audiocontainer
	/*background-color #000000*/
	margin-left -20px

.playbutton
	width 75px
	display inline-block

.playbutton:focus
  outline none

.navpic
  height 80px

.logo
	width 200px
	margin-right 2em !important

.vcenter-align
  vertical-align middle
  margin-left 0px

.navbutton
	width 100px !important
	box-shadow none !important
	background none !important
	margin-right 2em !important

#navbar
	white-space nowrap

.helper
  display inline-block
  height 100%
  vertical-align middle

#main-content
	padding-top 105px

.navbar-login
	position absolute
	right 25px
	top 10px

#login-dropdown-list
	top 30px !important
	left -140px !important

#cat
	position absolute
	top 0
	right 300px

.lock-im
	position relative
	top 0
	left 0
	max-width 150px
.lock
	position absolute
	top 0
	left 50px
	max-width 50px

.locked-container
	display inline-block
	position relative

.thumbnail
	max-width 250px

/*#drag-1, #drag-2 {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
*/

.rad > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.rad > input + img
  cursor pointer