/* CSS declarations go here!!!!! */
// stylus: http://stylus-lang.com/

*
    font-family 'Karla'

body
    margin 2 em

.debugging
	display none

audiocontainer
	background-color #000

.playbutton
	width 75px
	display inline-block
/*
.audiojs
  width 460px
  height 36px
  background #fa0000
  overflow hidden
  font-family monospace
  font-size 12px
  -webkit-box-shadow 1px 1px 8px rgba(0, 0, 0, 0.3)
  -moz-box-shadow 1px 1px 8px rgba(0, 0, 0, 0.3)
  -o-box-shadow 1px 1px 8px rgba(0, 0, 0, 0.3)
  box-shadow 1px 1px 8px rgba(0, 0, 0, 0.3)
  audio
    position absolute
    left -1px
  .play-pause
    width 25px
    height 40px
    padding 4px 6px
    margin 0px
    float left
    overflow hidden
    border-right 1px solid #c00
  p
    display none
    width 25px
    height 40px
    margin 0px
    cursor pointer
  .play
    display block
    background url('audiojs/player-graphics.gif') -2px -1px no-repeat
  .scrubber
    position relative
    float left
    width 280px
    background #fcc
    height 14px
    margin 10px
    border-left 0px
    border-bottom 0px
    overflow hidden
  .progress
    position absolute
    top 0px
    left 0px
    height 14px
    width 0px
    background #600
    z-index 1
  .loaded
    position absolute
    top 0px
    left 0px
    height 14px
    width 0px
    background #c00
  .time
    float left
    height 36px
    line-height 36px
    margin 0px 0px 0px 6px
    padding 0px 6px 0px 12px
    border-left 1px solid #c00
    color #600
    text-shadow 1px 1px 0px rgba(125, 0, 0, 0.5)
    em
      padding 0px 2px 0px 0px
      color #fcc
      font-style normal
    strong
      padding 0px 0px 0px 2px
      font-weight normal*/
